@import "colors.import.less";

@-webkit-keyframes loading {
    0%   { -webkit-transform: rotateZ(0); }
    100% { -webkit-transform: rotateZ(-360deg); }
}

@keyframes loading {
    0%   { transform: rotateZ(0); }
    100% { transform: rotateZ(-360deg); }
}

@-webkit-keyframes fade-to-white {
    0%   { background-color: @yellow; }
    100% { background-color: #fff; }
}

@keyframes fade-to-white {
    0%   { background-color: @yellow; }
    100% { background-color: #fff; }
}

@-webkit-keyframes fade-to-grey {
    0%   { background-color: @yellow; }
    100% { background-color: #ddd; }
}

@keyframes fade-to-grey {
    0%   { background-color: @yellow; }
    100% { background-color: #ddd; }
}

@-webkit-keyframes fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes expand {
    0%   {
        width: 95%;
    }
    100% {
        width: 100%;
    }
}
