@import "colors.import.less";

@-webkit-keyframes loading {
    0%   { -webkit-transform: rotateZ(0); }
    100% { -webkit-transform: rotateZ(-360deg); }
}

@-moz-keyframes loading {
    0%   { -moz-transform: rotateZ(0); }
    100% { -moz-transform: rotateZ(-360deg); }
}

@-webkit-keyframes fade-to-white {
    0%   { background-color: @yellow; }
    100% { background-color: #fff; }
}

@-moz-keyframes fade-to-white {
    0%   { background-color: @yellow; }
    100% { background-color: #fff; }
}

@-webkit-keyframes fade-to-grey {
    0%   { background-color: @yellow; }
    100% { background-color: #ddd; }
}

@-moz-keyframes fade-to-grey {
    0%   { background-color: @yellow; }
    100% { background-color: #ddd; }
}
