.pointer {
  cursor: pointer !important;
}

.hidden {
  display: none;
}

body {
  background-image: url('/images/toner.jpg');
  background-size: cover;
  background-attachment: fixed;
  margin: 0 !important;
  padding: 0 !important;
}

nav {
  background: none;
  height: 56px !important;
  line-height: normal !important;
  position: fixed;
  box-shadow: none;
  z-index: 20;
}

.nav-deet, .nav-deet a {
  background-color: #fff;
  color: #000;
}

.nav-sub, .nav-sub a {
  color: #000;
}

.nav-new, .nav-new a {
  color: #000;
  background-color: #ffff00;
}

.side-nav {
  background-color: #000;
}

.side-nav a {
  color: #ccc;
  height: 42px;
  line-height: 42px;
}

.side-nav li:hover a {
  color: #333;
}

.wrapper {
  background-color: #fff;
  min-height: 100vh;
  padding: 60px 0;
}

.feed, .deet {
  z-index: 20;
  min-height: 100vh;
  padding: 0 0 56px 0;
}

@media (max-width: 600px) {
  .feed, .deet {
    width: auto;
  }
}

div:hover #heart {
  -webkit-animation: rainbow 10s infinite alternate linear; 
  -moz-animation: rainbow 10s infinite alternate linear; 
}

.section label .lever {
  margin: 0;
}

.cover {
  color: white;
  display:table-cell;
  vertical-align:middle;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 56px;
}

.cover .container {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.animate {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.spinning {
  -webkit-animation: spin 1s infinite normal ease;
  -moz-animation: spin 1s infinite normal ease;
}

.collapsible {
  border: none;
  margin-top: 20px;
}

.collapsible-item {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.collapsible-item.active {
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}

.collapsible-item.active:first-of-type {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #E0E0E0;
}

.collapsible-item.active:last-of-type {
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #fff;
}

.collapsible-item.active + .collapsible-item.active {
  border-top: 1px solid #fff;
}

.collapsible-header.active .strong {
  font-weight: 400;
}

.collapsible-header.active + .collapsible-body {
  display: block;
}

.collapsible-header,
.collapsible-body {
  border: none !important;
}

.collapsible-header {
  padding-left: 72px;
  position: relative;
}

.collapsible-header .icon,
.collapsible-body .icon {
  color: #999;
  font-size: 18px;
  text-align: center;
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.collapsible-header.active {
  color: #009688;
}

.collapsible-header.active .icon {
  color: #009688;
}

.collapsible-header i {
  margin-right: 0;
}

.title,
.subtitle {
  color: rgba(0, 0, 0, 0.87);
}

.strong {
  font-weight: 800;
}

h1, h2, nav .btn-flat {
  font-size: 18px;
  margin: 0;
  line-height: 56px;
  height: 56px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

h4 {
  font-size: 18px;
  margin: 0;
}

.menu, .back {
  padding: 16px 11px 0;
}

nav .btn-flat {
  font-size: 14px;
}

.modal {
  max-height: 100% !important;
}

form .row {
  margin-bottom: 0;
}

textarea.materialize-textarea {
  padding: 1.2rem 0 .4rem;
  margin: 0;
}

textarea.materialize-textarea.short {
  height: 2rem !important;
  min-height: auto !important;
}

::-webkit-input-placeholder {
  color: #777;
}

:-moz-placeholder {
  color: #111;
}

::-moz-placeholder {
  color: #111;
}

:-ms-input-placeholder {
  color: #444;
}
