@import "colors.import.less";

.nj-card,
.nj-card__last-comment {
    z-index: 30;
    width: 100%;
    max-width: 600px;
    min-height: auto;
    margin: 16px auto;
}

.nj-card--pointer,
.nj-cover__ninja--pointer {
    cursor: pointer;
}

.nj-card__dismiss .material-icons {
    color: @lightgrey;
    font-size: 18px;
}

.nj-card__text {
    font-size: 16px;
    margin: 0 16px 16px;
}

.nj-card__author {
    color: @lightgrey;
}

.nj-card__last-comment {
    z-index: 20;
    background-color: #ddd;
    margin-top: -18px;
}

/* Achievement cards */

.nj-achievements .mdl-card__title {
    min-height: 150px;
    background-image: url('/images/toner.jpg');
    background-position: 50% 50%;
}

.nj-achievements .mdl-card__title-text {
    color: #fff;
}

/* Detail card */

.nj-detail .nj-card {
    margin-top: 1px;
}

.nj-card .mdl-button {
    color: @darkgrey;
}

.nj-card .nj-card__thank--thanked {
    color: @cyan;
}

.nj-card__num-thanks {
    height: 36px;
    min-width: 64px;
    padding: 0px 16px 0 8px;
    display: inline-block;
    line-height: 36px;
    color: @lightgrey;
    font-size: 13px;
}

.nj-card__remove,
.nj-card__upvote,
.nj-card__downvote,
.nj-card__open-tweet {
    float: right;
}
