a {
    cursor: pointer;
}

.mdl-collapse__content-wrapper {
    overflow: hidden;
}

.mdl-collapse__content {
    transition-property: margin-top;
    transition-duration: 0.2s;
}

.mdl-collapse__icon {
    transition-property: transform;
    transition-duration: 0.2s;
    color: rgba(0,0,0,0.3);

    position: absolute;
    right: 6px;
    margin-top: -3px;
}

.mdl-collapse--opened .mdl-collapse__icon {
    transform: rotate(-180deg);
}

.mdl-collapse--opened .mdl-collapse__button {
    color: #0ff;
}

.mdl-collapse--opened .mdl-collapse__content {
    margin-top: 0 !important;
}
