@import "colors.import.less";

html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.nj-content {
    padding: 0 16px;
}

.nj-content section {
    margin: 0 auto;
    max-width: 768px;
}

.nj-latest,
.nj-detail,
.nj-notFound,
.nj-loading {
    background-image: url('/images/darkmap.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.nj-latest__last-comment {
    z-index: 20;
    background-color: #ddd;
    margin-top: -18px;
    padding-right: 48px;
}
