html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

body {
    background-image: url('/images/toner.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.nj-content {
    padding: 16px;
}

.nj-card,
.nj-card__last-comment {
    z-index: 30;
    width: 90%;
    max-width: 600px;
    min-height: auto;
    margin: 16px auto;
}

.nj-card--pointer,
.nj-cover__ninja--pointer {
    cursor: pointer;
}

.nj-card__last-comment {
    z-index: 20;
    background-color: #ddd;
    margin-top: -18px;
}

.nj-cover {
    color: #fff;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.nj-cover__ninja--animated {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
