@import "colors.import.less";

html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.nj-content {
    padding: 0 16px;
}

.nj-latest,
.nj-notFound,
.nj-loading {
    background-image: url('/images/toner.jpg');
    background-size: cover;
    background-attachment: fixed;
}
