@import "colors.import.less";

html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.nj-content {
    padding: 0 16px;
}

.nj-section {
    margin: 16px auto;
    max-width: 768px;
}

.mdl-layout {
    background-image: url('/images/darkmap.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.nj-archive,
.nj-activity,
.nj-settings,
.nj-colophon,
.nj-new-report,
.nj-new-feedback {
    background-color: #fff;
}

.nj-latest__last-comment {
    background-color: #ddd;
    margin-top: -18px;
    padding-right: 48px;
}

.nj-latest {
    padding-top: 56px;
}

.nj-latest__header {
    position: fixed;
    top: 0;
    padding-left: 72px - 16px;

    @media screen and (min-width: 1025px) {
        padding-left: 40px - 16px;
    }
}

.nj-latest__title {
    color: #fff;
}

.nj-header--below {
    position: absolute;
}

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen) > .mdl-layout__header.nj-header--below {
    margin-left: 0;
}

.nj-fab,
.nj-fab:hover,
.nj-fab:active {
    position: absolute;
    bottom: 24px;
    right: 24px;
    background-color: @yellow;
    color: #000;
}

.mdl-textfield.is-invalid .mdl-textfield__input {
    border-bottom: 1px solid @lightgrey;
}
