.nj-detail {
    padding: 0;
}

.nj-detail {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
}

/* Current report */

.nj-detail__report {
    -webkit-flex: 0 1 auto;
            flex: 0 1 auto;
    margin: -1px auto 0;
    padding-top: 0;

    @media (min-width: 769px) {
        margin-top: 16px;
        padding-top: 16px;
    }
}

.nj-transition--expand .nj-header,
.nj-transition--expand .nj-detail__report {
    animation: .2s expand;
}


.nj-detail .nj-card__taglist {
    margin-bottom: 0;
    max-height: 70px;
    overflow: auto;
}


/* Comments */

.nj-detail__comments {
    -webkit-flex: 1 100 auto;
            flex: 1 100 auto;
    overflow-y: auto;
    padding: 8px;
}

.nj-detail__comments::-webkit-scrollbar {
    display: none;
}

.nj-detail__comment {
    margin: 0 auto 8px;
    padding-right: 48px;
}

/* Comment input */

.nj-detail__write {
    position: relative;
    border-radius: 2px 2px 0 0;
    overflow: visible;
    -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 0 auto;
    box-shadow: 0px -8px 10px 1px rgba(0, 0, 0, 0.14), 0px -3px 14px 2px rgba(0, 0, 0, 0.12), 0px -5px 5px -3px rgba(0, 0, 0, 0.2)
}

.nj-detail__input {
    border: 0;
    height: 36px;
    font-size: 16px;
    line-height: 36px;
    width: 100%;
    padding-right: 100px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.nj-card__send {
    position: absolute;
    top: 9px;
    right: 8px;
}
