#toast-container {
  min-height: 10px;
}

.fab {
  z-index: 100;
  right: 0;
  width: 96px;
  height: 96px;
  padding: 20px;
  -webkit-transition: top bottom .2s;
  transition: top bottom .2s;
}

.fab a,
.fab a:hover {
  background-color: #ffff00;
}

.fab .btn-floating i {
  color: #000 !important;
}

@media (max-width: 600px) {
  .fab {
    position: absolute;
    top: -86px;
  }
}

@media (min-width: 601px) {
  .fab {
    position: fixed;
    bottom: 0px;
  }
}

.btn-floating i {
  width: inherit;
  height: inherit;
}

