@import "colors.import.less";

.nj-header {
    box-shadow: none;
}

.nj-header__transparent {
    background-image: url('/images/darkmap.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.nj-header__transparent .mdl-layout__drawer-button {
    background-color: #000;
    border-radius: 0 24px 24px 0;
    margin-left: 0;
    width: 52px;
}

.nj-header__transparent .mdl-layout__drawer-button i {
    color: #fff;
}

.nj-header__cyan,
.nj-header__cyan .mdl-layout__drawer-button i {
    background-color: @cyan;
    color: #fff;
}

.nj-header__white,
.nj-header__white .mdl-layout__drawer-button i {
    background-color: #fff;
    color: #000;
}
