@import "colors.import.less";

.nj-header {
    box-shadow: none;
}

.nj-header--transparent {
    background-color: transparent;
}

.nj-header--transparent .mdl-layout__drawer-button {
    background-color: #000;
    border-radius: 0 24px 24px 0;
    margin-left: 0;
    width: 52px;
}

.nj-header--transparent .mdl-layout__drawer-button i {
    color: #fff;
}

.nj-header--cyan,
.nj-header--cyan .mdl-layout__drawer-button i {
    background-color: @cyan;
    color: #fff;
}

.nj-header--magenta,
.nj-header--magenta .mdl-layout__drawer-button i {
    background-color: @magenta;
    color: #fff;
}

.nj-header--white,
.nj-header--white .mdl-layout__drawer-button i {
    background-color: #fff;
    color: #000;
}
