/* CSS declarations go here */

@-webkit-keyframes rainbow {
    0%   { color: red; } 
    20%  { color: orange; }
    40%  { color: yellow; }
    60%  { color: green; }
    80%  { color: blue; }
    100% { color: violet; }
}

@-moz-keyframes rainbow {
    0%   { color: red; } 
    20%  { color: orange; }
    40%  { color: yellow; }
    60%  { color: green; }
    80%  { color: blue; }
    100% { color: violet; }
}

#play-ninja,
.pointer {
  cursor: pointer;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

.modal-open {
  overflow: hidden;
}

nav {
  height: 56px !important;
  line-height: 56px !important;
  position: fixed;
  z-index: 100;
  box-shadow: none;
}

.wrapper {
  padding-top: 56px;
}

div.section:hover #heart {
    -webkit-animation: rainbow 10s infinite alternate linear; 
    -moz-animation: rainbow 10s infinite alternate linear; 
}

.tabs {
  z-index: 10;
  background-color: #7E57C2;
}

.tabs .tab a {
  color: #fff;
}

.tabs .tab a:hover {
  color: #fff;
}

.tabs .indicator {
  background-color: #84C7C1;
  height: 3px;
}

.cover {
  color: white;
  display:table-cell;
  vertical-align:middle;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 102px;
}

.wrapper > .cover {
  top: 56px;
}

.cover div.container {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#play-ninja {
  width: 128px;
  height: 128px;
  margin: 0 auto;
  background-image: url("/images/white-fav-128x128.png");
  background-position: 0 0;
}

#play-ninja.viewingFavs {
  background-position: 128px 0;
}

#play-ninja.animate {
  transition: all 0.3s ease 0s;
}

.cover p {
  margin: 0;
}

.cover p:first-of-type {
  font-weight: 800;
}

ul.collapsible {
  border: none;
  margin: 0;
}

li.line {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

li.line.active {
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}

li.line.active:first-of-type {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #E0E0E0;
}

li.line.active:last-of-type {
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #fff;
}

li.line.active + li.line.active {
  border-top: 1px solid #fff;
}

.collapsible-header.active .strong {
  font-weight: 400;
}

.collapsible-header.active + .collapsible-body {
  display: block;
}

.collapsible-header .mdi-navigation-expand-more {
  -webkit-transition: -webkit-transform .4s;
  transition: transform .4s;
}

.collapsible-header.active .mdi-navigation-expand-more {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.collection-item.hidden {
  display: none;
}


.collapsible-header,
.collapsible-body,
.collapsible .collection,
.collapsible .collection-item {
  border: none !important;
}

.collapsible-header {
  padding-left: 72px;
  position: relative;
}

.collapsible-header .icon,
.collapsible-body .icon {
  color: #999;
  font-size: 18px;
  text-align: center;
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.collapsible-header.active {
  color: #009688;
}

.collapsible-header.active .icon {
  color: #009688;
}

.collapsible .collection {
  margin: 0;
}

.title,
.subtitle {
  color: rgba(0, 0, 0, 0.87);
}

.strong {
  font-weight: 800;
}


.chevron {
  color: #ccc;
}

.mdi-navigation {
  text-align: right;
}

.secondary {
  min-width: 32px;
  min-height: 32px;
  text-align: center;
  float: right;
  margin-right: -8px;
  margin-left: 12px;
  color: #999;
}

.fav {
  overflow: hidden;
}

.fav:hover {
  color: #000;
}

.fav.active {
  color: #ec407a;
}

.top-panel {
  margin: 0;
  overflow: hidden;
}

img.top-panel-ninja {
  height: 40px;
  float: left;
}

.top-panel-text {
  float: left;
  margin-left: 5px;
  line-height: 40px;
  font-size: 16px;
}

.modal.bottom-sheet {
  max-height: 100%;
}

.collection .collection-item.avatar {
  height: auto;
}

.primary {
  height: 32px;
  width: 32px;
  margin: 12px 8px;
  line-height: 36px;
  font-size: 1.6rem;
}

h1 {
  font-size: 18px;
  margin: 0;
  line-height: 56px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

h4 {
  font-size: 18px;
  margin: 0;
}


.switch.mdi-fav label .lever {
  margin: 0 !important;
  top: -3px;
  background-color: rgba(0, 0, 0, 0.3);
}

.switch.mdi-fav label .lever::after {
  content: "î˜ª";
  color: #fff;
  background-color: #7E57C2;
  line-height: 1.6rem;
  padding-left: 5px;
}

.switch.mdi-fav label input[type="checkbox"]:checked + .lever::after {
  color: #fff !important;
}

.more {
  font-size: 24px;
  margin: 1px 15px 0 10px;
}

#menu {
  z-index: 20;
  top: 22px !important;
  left: auto !important;
  right: 15px !important;
}

div.lines {
  margin-top: 15px;
  margin-bottom: 25px;
}

.subheader {
  min-height: 3rem;
  padding: 12px 20px 12px 12px;
  font-size: 1rem;
  font-weight: 800;
  color: #999;
  background-color: #E0E0E0 !important;
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
}

.subheader div {
  padding-right: 48px;
}

.collection.create {
  border: none;
  color: #aaa;
}

#feed {
  padding: 0 20px;
}

.collection a,
.collection a:active,
.collection a:hover,
.collection a:visited {
  color: #000;
}

.collection .collection-item {
  font-size: 14px !important;
}

.collection.stations {
  border: none;
}

.collection.stations .collection-item {
  padding-right: 20px;
  border: none;
}

.collection.stations .flag:hover {
  color: #000;
}

.modal {
  background-color: #fff;
}

.modal .modal-content {
  padding: 0;
}

.collection.create .collection-item {
  min-height: 48px;
  padding-right: 16;
  border: none;
}

.collection.create .collection-item.header {
  min-height: 72px;
  padding: 12px 72px;
  line-height: 44px;
  cursor: default;
}

.collection.create .secondary {
  color: #666;
  font-size: 22px;
  margin-right: -56px;
}

.collection.create .secondary:hover {
  color: #000;
}

.collection .collection-item.avatar i {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 16px;
  display: inline-block;
  vertical-align: middle;
  color: #666;
  background-color: #fff;
  text-align: center;
}

.card {
  margin: 1rem 0 0;
}

.card-content.has-actions .title {
  font-weight: 800;
}

.card.active .card-content.has-actions .title {
  font-weight: 400;
}

.card .card-content p {
  color: #999;
  font-size: 12px;
  line-heigpht: 1.2rem;
}

.card .card-content .aux {
  display: none;
}

.card.active .card-content .aux {
  display: block;
}

.card .count {
  margin: 0 12px 0 3px;
}

.card a.btn-flat {
  padding: 0 .7rem .5rem;
}

.card .card-action {
  display: none;
  padding: 15px;
}

.card.active .card-action {
  display: block;
}

.card .secondary {
  font-size: 10px;
}


.disabled {
  color: #999 !important;
}
