/* CSS declarations go here */

@-webkit-keyframes spin-180 {
    from {
      transform: rotate(0deg);
    } to {
      transform: rotate(180deg);
    }
}
@-moz-keyframes spin-180 {
    from {
      transform: rotate(0deg);
    } to {
      transform: rotate(180deg);
    }
}
@keyframes spin-180 {
    from {
      transform: rotate(0deg);
    } to {
      transform: rotate(180deg);
    }
}

@-webkit-keyframes rainbow {
    0%   { color: red; } 
    20%  { color: orange; }
    40%  { color: yellow; }
    60%  { color: green; }
    80%  { color: blue; }
    100% { color: violet; }
}

@-moz-keyframes rainbow {
    0%   { color: red; } 
    20%  { color: orange; }
    40%  { color: yellow; }
    60%  { color: green; }
    80%  { color: blue; }
    100% { color: violet; }
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

.credits:hover #heart {
    -webkit-animation: rainbow 10s infinite alternate linear; 
    -moz-animation: rainbow 10s infinite alternate linear; 
}

.line.active .mdi-navigation-expand-more {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: spin-180 0.25s 1 ease-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: spin-180 0.25s 1 ease-out;
  -moz-animation-fill-mode: forwards;
  animation: spin-180 0.25s 1 ease-out;
  animation-fill-mode: forwards;
}

.line-background {
  position: fixed;
  width: 10px;
  height: 100%;
  top: 0;
  left: 15px;
  z-index: -1;
}

ul.tabs {
  z-index: 10;
}

.cover {
  color: white;
  display:table-cell;
  vertical-align:middle;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 102px;
}

.cover > * {
  margin: 50% auto 0;
  text-align: center;
  font-weight: 800;
}

h1.transport-type {
  text-align: left;
  font-size: 14px;
  line-height: 1em;
  margin: 0;
  text-transform: uppercase;
  color: #B3B3B3;
}

ul.slogans {
  margin-top: 0;
}

/* Collapsible menu styling */

ul.collapsible {
  border: none;
  margin: 0;
}

li.line {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

li.line.active {
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}

li.line.active:first-of-type {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #E0E0E0;
}

li.line.active:last-of-type {
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #fff;
}

.collapsible-header,
.collapsible-body,
.collapsible .collection,
.collapsible .collection-item {
  border: none !important;
}

.collapsible-header {
  padding-left: 72px;
  position: relative;
}

.collapsible-header .icon,
.collapsible-body .icon {
  color: #999;
  font-size: 18px;
  text-align: center;
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.collapsible-header.active {
  color: #009688;
}

.collapsible-header.active .icon {
  color: #009688;
}

span.title {
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.87);
}


.chevron {
  color: #ccc;
}

.mdi-navigation {
  text-align: right;
}

.navbar-fixed {
  z-index: 99;
  height: 50px;
}

.navbar-fixed nav {
  height: 44px;
  line-height: 1em;
}

.nav-wrapper {
  overflow: hidden;
  line-height: 1em;
}

.fav {
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 44px;
  padding-left: 15px;
  cursor: pointer;
}

nav .nav-wrapper .fav i {
  font-size: 1rem;
  line-height: 44px;
}

.back-button {
  float: left;
  overflow: hidden;
  position: absolute;
  margin-left: 10px;
  line-height: 44px;
}

.line-being-viewed {
  margin-top: 15px;
  text-align: center;
  width: 100%;
  font-size: 16px;
}

.top-panel {
  margin-left: 30px;
  overflow: hidden;
  max-width: 500px;
  padding: 5px;
  margin-right: 15px;
}

img.top-panel-ninja {
  height: 40px;
  float: left;
}

.top-panel-text {
  float: left;
  margin-left: 5px;
  line-height: 40px;
  font-size: 16px;
}

#at {
  float: right;
  font-size: 80%;
}

.main-content {
  margin-top: 20px;
}

.station {
  margin-left: 7px;
  margin-bottom: 10px;
}

.station-name {
  text-transform: uppercase;
  cursor: pointer;
}

.white-circle {
  width: 10px;
  height: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  border: solid thin black;
  float: left;
  margin-right: 5px;
  margin-top: 6px;
  margin-left: 8px;
}

.reports-container {
  margin-left: 30px;
  max-width: 500px;
  padding-right: 15px;
}

.report {
  width: 100%;
}

span.report-title {
  font-weight: bold;
  font-size: 18px;
  color: red;
}

span.report-location {
  font-size: 12px;
  color: #aaa;
}

span.report-detail {
  margin-right: 10px;
  white-space: nowrap;
}

.modal.bottom-sheet {
  max-height: 75%;
}

h4 {
  font-size: 1.4rem;
}

.collection .collection-item.avatar {
  height: auto;
  cursor: pointer;
}

.intro-screen-content {
  max-width: 500px;
  margin: 0 auto;
}

.logo {
  overflow: hidden;
  margin: 0 auto;
}

.ninja-logo {
  height: 32px;
  width: 32px;
  margin: 12px;
  float: left;
}

h1.app-title {
  font-size: 1.6rem;
  margin: 0;
  line-height: 56px;
  text-align: left;
}

.switch label .lever::after {
  content: "";
  content: "";
  color: #7E57C2 !important;
  line-height: 1.6rem;
  padding-left: 5px;
}

.switch label input[type="checkbox"]:checked + .lever::after {
  content: "";
  color: white !important;
}

div.lines {
  margin-top: 15px;
  margin-bottom: 25px;
}

.aux {
  font-size: 0.8em;
}

.footer {
  height: 20px;
  margin-bottom: 20px;
}

.credits {
  color: #999;
}

iframe#twitter-widget-0 {
  vertical-align: bottom;
  margin-left: 10px;
}

.card a.btn-vote{
  padding-left: 0.5rem;
  padding-top: 0.01rem;
  padding-right: 0.7rem;
  padding-bottom: 0.01rem;
  margin-right: 5px;
}

.card a.btn-vote i.left {
  margin-right: 5px;
}

.card .card-content, .card .card-action {
  padding: 15px;
}

.subheader {
  position: sticky;
  top: 0;
  height: 3rem;
  padding: 12px;
  font-size: 1rem;
  font-weight: 800;
  color: #999;
  background-color: #E0E0E0 !important;
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
}

ul.now {
  border: none;
}

ul.now p {
  color: #aaa;
}
