/* CSS declarations go here */

@-webkit-keyframes rainbow {
    0%   { color: red; } 
    20%  { color: orange; }
    40%  { color: yellow; }
    60%  { color: green; }
    80%  { color: blue; }
    100% { color: violet; }
}

@-moz-keyframes rainbow {
    0%   { color: red; } 
    20%  { color: orange; }
    40%  { color: yellow; }
    60%  { color: green; }
    80%  { color: blue; }
    100% { color: violet; }
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

.credits:hover #heart {
    -webkit-animation: rainbow 10s infinite alternate linear; 
    -moz-animation: rainbow 10s infinite alternate linear; 
}

ul.tabs {
  z-index: 10;
}

.cover {
  color: white;
  display:table-cell;
  vertical-align:middle;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 102px;
}

.cover div {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.cover p:first-of-type {
  margin-top: 0;
  font-weight: 800;
}

ul.collapsible {
  border: none;
  margin: 0;
}

li.line {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

li.line.active {
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
}

li.line.active:first-of-type {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #E0E0E0;
}

li.line.active:last-of-type {
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #fff;
}

li.line.active + li.line.active {
  border-top: 1px solid #fff;
}

.collapsible-header + .collapsible-body {
  display: block;
  max-height: 0;
  transition: max-height .4s;
}

.collapsible-header.active + .collapsible-body {
  max-height: 40rem;
}

.collapsible-header .mdi-navigation-expand-more {
  transition: transform .4s;
}

.collapsible-header.active .mdi-navigation-expand-more {
  transform: rotate(180deg);
}

.collection-item.hidden {
  display: none;
}


.collapsible-header,
.collapsible-body,
.collapsible .collection,
.collapsible .collection-item {
  border: none !important;
}

.collapsible-header {
  padding-left: 72px;
  position: relative;
}

.collapsible-header .icon,
.collapsible-body .icon {
  color: #999;
  font-size: 18px;
  text-align: center;
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.collapsible-header.active {
  color: #009688;
}

.collapsible-header.active .icon {
  color: #009688;
}

.collapsible .collection {
  margin: 0;
}

span.title {
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.87);
}


.chevron {
  color: #ccc;
}

.mdi-navigation {
  text-align: right;
}

.secondary {
  min-width: 32px;
  min-height: 32px;
  text-align: center;
  float: right;
  margin-right: -8px;
  color: #999;
}

.fav {
  overflow: hidden;
  cursor: pointer;
}

.fav:hover {
  color: #000;
}

.fav.active {
  color: #ec407a;
}

.top-panel {
  margin: 0;
  overflow: hidden;
}

img.top-panel-ninja {
  height: 40px;
  float: left;
}

.top-panel-text {
  float: left;
  margin-left: 5px;
  line-height: 40px;
  font-size: 16px;
}

#at {
  line-height: 40px;
  float: right;
  font-size: 80%;
}

.modal.bottom-sheet {
  max-height: 75%;
}

h4 {
  font-size: 1.4rem;
}

.collection .collection-item.avatar {
  height: auto;
  cursor: pointer;
}

.primary {
  height: 32px;
  width: 32px;
  margin: 12px;
  line-height: 36px;
  font-size: 1.6rem;
}

h1.app-title {
  font-size: 1.6rem;
  margin: 0;
  line-height: 56px;
  text-align: left;
}


.switch label .lever {
  background-color: rgba(0, 0, 0, 0.3);
}

.switch label .lever::after {
  content: "";
  color: #fff;
  background-color: #7E57C2;
  line-height: 1.6rem;
  padding-left: 5px;
}

.switch label input[type="checkbox"]:checked + .lever::after {
  color: #fff !important;
}

div.lines {
  margin-top: 15px;
  margin-bottom: 25px;
}

.aux {
  font-size: 0.8em;
}

.footer {
  height: 20px;
  margin-bottom: 20px;
}

.credits {
  color: #999;
}

.subheader {
  min-height: 3rem;
  padding: 12px 20px 12px 12px;
  font-size: 1rem;
  font-weight: 800;
  color: #999;
  background-color: #E0E0E0 !important;
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
}

.subheader div {
  padding-right: 48px;
}

.collection.now,
.collection.create {
  border: none;
  color: #aaa;
}

.collection.now .collection-item,
.collection.stations .collection-item {
  padding-right: 72px;
  border: none;
}

.collection.now p {
  font-size: 12px;
  line-height: 1.2rem;
}

.collection.now .secondary {
  position: absolute;
  top: 10px;
  right: 16px;
  color: #aaa;
  font-size: 10px;
}

.collection.stations {
  border: none;
}

.collection.stations .collection-item {
  padding-right: 20px;
}

.collection.stations .flag {
  cursor: pointer;
}

.collection.stations .flag:hover {
  color: #000;
}

.modal {
  background-color: #fff;
}

.modal .modal-content {
  padding: 0;
}

.collection.create .collection-item {
  min-height: 48px;
  padding-right: 16;
  border: none;
}

.collection.create .collection-item.header {
  min-height: 72px;
  padding: 12px 72px;
  line-height: 44px;
  cursor: default;
}

.collection .collection-item.header i.circle {
  color: #fff;
  background-color: #f06292;
}

.collection .collection-item.avatar i {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 16px;
  display: inline-block;
  vertical-align: middle;
  color: #666;
  background-color: #fff;
  text-align: center;
}

.card {
  margin: 1rem 0 0;
}

.card a.btn-flat {
  padding: 0 .7rem .5rem;
}

.card .card-action {
  padding: 15px;
}

.card .secondary {
  font-size: 10px;
}
