#ptr {
  color: #fff;
  width: 100%;
  height: 56px;
  padding-top: 20px;
  text-align: center;
}

#pull, #release, #loading {
  display: none;
}

.ptr-panning #pull,
.ptr-refresh #release,
.ptr-loading #loading {
  display: block;
}

.ptr-refresh #pull {
  display: none;
}


.ptr-loading .logo {
  -webkit-animation: spin 1s infinite normal ease;
  -moz-animation: spin 1s infinite normal ease;
}

#content {
  transition: all .3s ease 0s;
}

.ptr-loading #content {
  transform: translate3d(0, 46px, 0);
}

.ptr-panning #content {
  transition: none;
}
