<template name="activity"><div>
  <div class="nj-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

    <header class="nj-header nj-header__cyan mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Twoja aktywność</span>
      </div>
    </header>

    <div class="nj-drawer mdl-layout__drawer">
      {{> drawer }}
    </div>

    <main class="nj-content nj-activity mdl-layout__content">
      <section>
        <h4>Twoje zgłoszenia</h4>
        {{#unless all}}
          <p>
            Z tego urządzenia nie wysłano jeszcze żadnych zgłoszeń.
            Oby nie było potrzeby!
          </p>
        {{else}}
          <p>
            Z tego urządzenia wysłano {{ all }} {{ plural 'reports' all }}.

            {{#if thanks }}
              <strong>{{ thanks }}</strong> {{ plural 'peopleSent' thanks }} Ci podziękowania.
            {{/if}}

            {{#if numVotes this }}
              Łącznie Twoje zgłoszenia zebrały {{ numVotes upvotes downvotes }}.
            {{/if}}

          </p>
        {{/unless}}
      </section>

      <section>
        <h4>Osiągnięcia</h4>
        <div class="nj-achievements">
          {{#each achievements}}
            {{> achievementcard this }}
          {{else}}
            <p>
              Tutaj pojawią się Twoje osiągnięcia, np. za zgłoszenia potwierdzone
              przez innych użytkowników.  Powodzenia!
            </p>
          {{/each}}
        </div>
      </section>
    </main>

  </div>
</div></template>

<template name="achievementcard">
  <div class="nj-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{{ name }}</h2>
    </div>
    <div class="mdl-card__supporting-text">
      {{ desc }}
    </div>
  </div>
</template>
