<template name="newReport">
  <form>

    <nav class="nav-new">
      <a href="{{ pathFor 'feed.all' }}" class="left back pointer">
        <i class="material-icons">close</i>
      </a>

      <button class="right btn-flat" type="submit" name="action">
        Roześlij
      </button>

      <h2>Nowe zgłoszenie</h2>
    </nav>

    <div class="wrapper">

      {{#unless seenHint }}
        <div class="row container">
          <p class="col s12">
            Opisz, co się stało, lub o co chcesz zapytać,
            np. “Tramwaj linii 17 zderzył się z
            samochodem”, lub “Gdzie w okolicy najlepiej
            pójść na kawę?”
          </p>
          <button class="right btn-flat understood">
            Ok, rozumiem
          </button>
        </div>
      {{/unless}}

      <div class="row container">
        <div class="col s12">
          <textarea id="text" class="materialize-textarea validate short"
            maxlength="140" required
            placeholder="Opisz problem lub zadaj pytanie"></textarea>
        </div>
      </div>

      <div class="row container">
        <div class="col s12">
          <input id="stop-display" type="text" class="validate"
            data-role="materialtags" placeholder="Na jakim przystanku?">
        </div>
      </div>

    </div>

  </form>

  <div id="pick-stop" class="modal bottom-sheet">
    <nav class="nav-new">
      <a class="left back close-modal pointer">
        <i class="material-icons">close</i>
      </a>

      <h2>Oznacz przystanek</h2>
    </nav>

    <div class="wrapper">
      <div class="row container">
        <div class="col s12">
          <input id="stop" type="text" class="validate"
            data-role="materialtags" placeholder="Wpisz nazwę przystanku">
        </div>
      </div>
    </div>
  </div>

</template>
