<template name="allgood">
  <div class="nj-cover">
    <img class="nj-cover__ninja nj-cover__ninja--animated nj-cover__ninja--pointer"
      src="/images/ninja_dobrze_1x.png"
      srcset="/images/ninja_dobrze_1x.png 1x,
              /images/ninja_dobrze_2x.png 2x,
              /images/ninja_dobrze_3x.png 3x">
    <p class="nj-cover__text">{{status}}</p>
  </div>
</template>

<template name="sitting">
  <div class="nj-cover">
    <img class="nj-cover__ninja"
      src="/images/ninja_siedzi_1x.png"
      srcset="/images/ninja_siedzi_1x.png 1x,
              /images/ninja_siedzi_2x.png 2x,
              /images/ninja_siedzi_3x.png 3x">
    <p class="nj-cover__text">Nic tu nie ma.</p>
  </div>
</template>

<template name="jumping">
  <div class="nj-cover">
    <img class="nj-cover__ninja"
      src="/images/ninja_skok_1x.png"
      srcset="/images/ninja_skok_1x.png 1x,
              /images/ninja_skok_2x.png 2x,
              /images/ninja_skok_3x.png 3x">
    <p class="nj-cover__text">&nbsp;</p>
  </div>
</template>
