<template name="archive"><div>
  <div class="nj-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

    <header class="nj-header nj-header--cyan mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Archiwum</span>
      </div>
    </header>

    <div class="nj-drawer mdl-layout__drawer">
      {{> drawer }}
    </div>

    <main class="nj-content nj-archive mdl-layout__content">
      {{#each items}}
        {{> archivecard }}
      {{else}}
        {{> sitting }}
      {{/each}}
    </main>

  </div>
</div></template>

<template name="archivecard">
  <div class="nj-card mdl-card mdl-shadow--2dp">
    <div class="mdl-card__supporting-text">
        {{ relativeTime createdAt }}
        {{#unless isTweet this }}
          {{ numVotes this }}
        {{/unless}}
    </div>
    <p class="nj-card__content">
      <span class="nj-card__author">{{ getAuthor this }}</span>
      <span class="nj-card__text">{{ text }}</span>
    </p>
  </div>
</template>
