<template name="reportcard">
  <div class="card">
    <div class="card-content pointer {{#if hasActions _id}}has-actions{{/if}}">

      <span class="secondary">
        {{#if numThanks thanks }}
          <span class="mdi-action-thumb-up"></span>
          <span class="count">{{numThanks thanks}}</span>
        {{/if}}
        {{ relativeTime createdAt }}
      </span>

      <span class="title">{{name}}</span>
      <p class="aux">{{ numVotes confirms clears }}</p>

    </div>

    {{> cardactions this}}

  </div>
</template>

<template name="feedcard">
  <div id="report-{{_id}}" class="card">
    <div class="card-content pointer {{#if hasActions _id}}has-actions{{/if}}">

      <span class="secondary">
        {{#if numThanks thanks }}
          <span class="mdi-action-thumb-up"></span>
          <span class="count">{{numThanks thanks}}</span>
        {{/if}}
        {{ relativeTime createdAt }}
      </span>

      <span class="title">{{ line }} {{ location }}</span>
      <p><span class="subtitle">{{ name }} —</span> {{ dir }}</p>

      <p class="aux">{{ numVotes confirms clears }}</p>

    </div>

    {{> cardactions this}}

  </div>
</template>

<template name="cardactions">
    {{#if isAuthor _id }}
      <div class="card-action">
        <a class="waves-effect waves-light btn-flat black-text remove">
          <i class="mdi-content-block left"></i>Odwołaj</a>
      </div>
    {{/if}}

    {{#if canThank _id }}
      <div class="card-action">
        <a class="waves-effect waves-light btn-flat teal-text thank">
          <i class="mdi-action-thumb-up left"></i>Dziękuję</a>
      </div>
    {{/if}}

    {{#if canUpvote _id }}
      <div class="card-action">
        <a class="waves-effect waves-light btn-flat black-text upvote">
          <i class="mdi-action-done left"></i>Potwierdź</a>
        <a class="waves-effect waves-light btn-flat black-text downvote">
          <i class="mdi-content-block left"></i>Odwołaj</a>
      </div>
    {{/if}}
</template>
