<template name="colophon">

  {{> nav index=0 title="Kolofon" more=0 }}

  <div class="container">

    <div class="section">
      <p>
        Uwagi?  Pomysły?  Daj nam znać:
        <a href="https://www.facebook.com/warszawski.ninja">facebook</a>, 
        <a href="https://www.twitter.com/warszawskininja">twitter</a>, 
        <a href="https://github.com/stasm/warszawski.ninja">github</a>.
      </p>
    </div>

    <div class="section">

      <p>
        <span id="heart">♥</span> Inspiracja: konkurs
        <a href="https://konkurs.danepowarszawsku.pl/">Dane po warszawsku</a> i
        <a href="http://mbta.ninja">mbta.ninja</a>.
      </p>

    </div>

  </div>

</template>
