<template name="colophon"><div>
  <div class="nj-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

    <header class="nj-header nj-header--cyan mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Informacje</span>
      </div>
    </header>

    <div class="nj-drawer mdl-layout__drawer">
      {{> drawer }}
    </div>

    <main class="nj-content nj-colophon mdl-layout__content">
      <section class="nj-section">
        <h4>Nie śledzimy Cię</h4>
        <p>
          Ninja dba o Twoją prywatność i nie przechowuje żadnych informacji,
          które mogłyby posłużyć w zidentyfikowaniu Cię w Internecie.
        </p>
        <p>
          Rozpoznajemy jedynie urządzenie, z którego wysyłasz zgłoszenia.
          Wykorzystujemy do tego losowy identyfikator, który zapisujemy w pamięci
          urządzenia.
        </p>
        <p>
          Jeśli odinstalujesz aplikację albo wyczyścisz pamięć przeglądarki, 
          identyfikator zostanie usunięty i historia Twoich zgłoszeń przepadnie
          na zawsze.
        </p>
      </section>

      <section class="nj-section">
        <h4>Wersja {{ ver }}</h4>
        <p>
          Bardzo nam miło, że testujesz Warszawskiego Ninję.

          Jesteśmy w fazie <em>beta</em> i zależy nam na Twojej opinii.

          <a href="{{ pathFor 'feedback.add' }}">Prześlij nam uwagi</a> dotyczące
          dotyczące zarówno funkcjonalności, jak i interfejsu graficznego.
        </p>
      </section>

      <section class="nj-section">
        <h4>♥ Inspiracja</h4>
        <p>
          Konkurs
          <a href="https://konkurs.danepowarszawsku.pl/">Dane po warszawsku</a> i
          <a href="http://mbta.ninja">mbta.ninja</a>.
        </p>
      </section>

      <section class="nj-section nj-game__row">

        <canvas id="canvas" class="nj-game__row {{ wonClass }}" width="280" height="280"></canvas>

        <div class="nj-game__row">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-color="0"></button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-color="1"></button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-color="2"></button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-color="3"></button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-color="4"></button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-color="5"></button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-color="6"></button>
        </div>

        <div class="nj-game__row">
          <p>Ilość ruchów: {{ movesCount }}</p>
          <p>Ilość rozegranych gier: {{ gamesCount }}</p>
          <p>Najlepszy wynik: {{ bestScore }}</p>
        </div>
      </section>
    </main>

  </div>
</div></template>
