<template name="allgood">

  <div class="cover teal lighten-2">
    <div class="container">
      <div id="play-ninja"
        src="/images/white-128x128.png"
        class="animate {{#if viewingFavs }}viewingFavs{{/if}}"></div>
      <p>{{status}}</p>
    </div>
  </div>

</template>

<template name="favinfo">

  <div class="cover pink lighten-2">
    <div class="container">
      <img src="/images/fav-100x100.png" />
      <p>Wybierz swoje ulubione trasy.</p>
      <p>Oznacz częste trasy jako ulubione,<br>aby mieć szybki podgląd ich stanu.</p>
    </div>
  </div>

</template>
