<template name="allgood">

  <div class="cover teal lighten-2">
    <div class="container">
      <div id="play-ninja"
        src="/images/white-128x128.png"
        class="ninja animate {{#if viewingFavs }}viewingFavs{{/if}}"></div>
      <p>{{status}}</p>
    </div>
  </div>

</template>

<template name="favinfo">

  <div class="cover pink lighten-2">
    <div class="container">
      <img src="/images/fav-100x100.png" />
      <p>Wybierz ulubione trasy</p>
      <p>Miej szybki podgląd sytuacji na trasach,<br>z których często korzystasz.</p>
      <div class="cta">
        <a class="waves-effect waves-light btn ok">Pokaż wszystkie linie</a>
      </div>
    </div>
  </div>

</template>

<template name="loading">

  {{> nav index=1 more=1 title="warszawski.ninja" }}

  <div class="cover deep-purple lighten-2">
    <div class="container">
      <div id="spin-ninja"
        src="/images/white-128x128.png"
        class="ninja animate"></div>
      <p>Sprawdzam…</p>
    </div>
  </div>

</template>
