<template name="create">
  <div id="create" class="modal bottom-sheet">
    <div class="modal-content">
      <ul class="collection create">
        <li class="collection-item header avatar">
          <i class="circle"></i>
          <span class="title station">{{station}}</span>
          <span class="close secondary mdi-content-clear"></span>
        </li>
        {{#each reportTypes}}
          <li class="collection-item report avatar">
            <i class="{{icon}}"></i>
            <span class="title">{{name}}</span>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>
