<template name="detail"><div class="nj-transition">
  <div class="nj-layout nj-layout--transparent mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="nj-header nj-header--white mdl-layout__header">
      <div class="mdl-layout__drawer-button">
        <a href="{{ pathFor 'feed.all' }}">
          <i class="material-icons">arrow_back</i>
        </a>
      </div>
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Szczegóły</span>
      </div>
    </header>
    <main class="nj-content nj-detail mdl-layout__content">
      {{#if isTweet this }}
        {{> tweetcard }}
      {{else}}
        {{> usercard }}
      {{/if}}
      <div class="nj-detail__comments">
        {{#each comments}}
          {{> commentcard }}
        {{/each}}
      </div>
      <div action="#" class="nj-detail__write nj-card mdl-card">
        <form class="mdl-card__actions" autocomplete="off">
          <button class="nj-card__action nj-card__send mdl-button mdl-js-button mdl-js-ripple-effect" disabled>
            Wyślij
          </button>
          <input type="hidden" id="report-id" value="{{ _id }}">
          <input class="nj-detail__input" type="text" id="comment-text" maxlength="140" required autofocus placeholder="Wpisz komentarz">
        </form>
      </div>
    </main>
  </div>
</div></template>

<template name="usercard">
  <div class="nj-card nj-detail__report mdl-card mdl-shadow--8dp">
    <div class="mdl-card__supporting-text">
        {{ relativeTime createdAt }}
        {{ numVotes this }}
    </div>
    <p class="nj-card__content">
      <span class="nj-card__author">{{ getAuthor this }}</span>
      <span class="nj-card__text">{{ text }}</span>
    </p>

    {{> taglist }}

    <div class="mdl-card__actions">
      {{#if isAuthor this }}
        <span class="nj-card__action--left nj-card__num-thanks">{{ numThanks this }}</span>
        <button class="nj-card__action nj-card__remove mdl-button mdl-js-button mdl-js-ripple-effect">
          Usuń
        </button>
      {{else}}
        {{#if has thanks }}
          <button class="nj-card__action nj-card__action--left nj-card__thank nj-card__thank--thanked mdl-button mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">favorite</i>
          </button>
        {{else}}
          <button class="nj-card__action nj-card__action--left nj-card__thank mdl-button mdl-js-button mdl-js-ripple-effect">
            Dzięki
          </button>
        {{/if}}

        {{#unless has upvotes downvotes }}
          <button class="nj-card__action nj-card__downvote mdl-button mdl-js-button mdl-js-ripple-effect">
            Odwołaj
          </button>
          <button class="nj-card__action nj-card__upvote mdl-button mdl-js-button mdl-js-ripple-effect">
            Potwierdź
          </button>
        {{else}}
          {{#if has downvotes }}
            <button class="nj-card__action nj-card__downvote mdl-button mdl-js-button mdl-js-ripple-effect">
              Odwołane
            </button>
          {{/if}}
          {{#if has upvotes }}
            <button class="nj-card__action nj-card__upvote mdl-button mdl-js-button mdl-js-ripple-effect">
              Potwierdzone
            </button>
          {{/if}}
        {{/unless}}

      {{/if}}
    </div>
  </div>
</template>

<template name="tweetcard">
  <div class="nj-card nj-detail__report mdl-card mdl-shadow--8dp">
    <div class="mdl-card__supporting-text">
        {{ relativeTime createdAt }}
    </div>
    <p class="nj-card__content">
      <span class="nj-card__author">{{ getAuthor this }}</span>
      <span class="nj-card__text">{{ text }}</span>
    </p>

    {{> taglist }}

    <div class="mdl-card__actions">
      {{#if has thanks }}
        <button class="nj-card__action nj-card__action--left nj-card__thank nj-card__thank--thanked mdl-button mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">favorite</i>
        </button>
      {{else}}
        <button class="nj-card__action nj-card__action--left nj-card__thank mdl-button mdl-js-button mdl-js-ripple-effect">
          Dzięki
        </button>
      {{/if}}

      <button class="nj-card__action nj-card__open-tweet mdl-button mdl-js-button mdl-js-ripple-effect">
        Otwórz tweet
      </button>
    </div>
  </div>
</template>

<template name="commentcard">
  <div id="{{ ident }}" class="nj-card nj-detail__comment mdl-card">
    <div class="mdl-card__supporting-text">
      <span class="nj-card__last-activity">{{ relativeTime createdAt }}</span>
      <span class="nj-card__author">{{ getAuthor this }}</span>
      <span class="nj-card__text">{{ text }}</span>
    </div>
  </div>
</template>
