<template name="drawer">

  <header class="nj-drawer__header">
    <img src="/branding/ninja.png" class="nj-drawer__avatar">
    <div class="mdl-collapse">
      <div class="nj-drawer__dropdown mdl-collapse__trigger">
        <span class="nj-drawer__nickname">{{ nickname }}</span>
        <div class="mdl-layout-spacer"></div>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-collapse__button">
          <i class="material-icons" role="presentation">help</i>
        </button>
      </div>
      <div class="mdl-collapse__content-wrapper">
        <div class="nj-drawer__help mdl-collapse__content mdl-animation--default">
          <h6 class="nj-drawer__title">Co to za nazwa?</h6>
          <div>
            W Warszawskim Ninjy użytkownicy są anonimowi.<br>
            Aby identyfikować zgłoszenia i komentarze, nadajemy Twojemu
            urządzeniu wylosowaną nazwę.
          </div>
        </div>
      </div>
    </div>
  </header>

  <nav class="mdl-navigation">
    <a class="{{ isActive 'feed.all' }} mdl-navigation__link" href="{{ pathFor 'feed.all' }}">
      <i class="material-icons" role="presentation">view_agenda</i>Zgłoszenia
    </a>
    <a class="{{ isActive 'feed.archive' }} mdl-navigation__link" href="{{ pathFor 'feed.archive' }}">
      <i class="material-icons" role="presentation">restore</i>Archiwum
    </a>
    <a class="{{ isActive 'activity.show' }} mdl-navigation__link" href="{{ pathFor 'activity.show' }}">
      <i class="material-icons" role="presentation">account_circle</i>Twoja aktywność
    </a>
    <a class="{{ isActive 'settings.show' }} mdl-navigation__link" href="{{ pathFor 'settings.show' }}">
      <i class="material-icons" role="presentation">settings</i>Ustawienia
    </a>
    <a class="{{ isActive 'feedback.add' }} mdl-navigation__link" href="{{ pathFor 'feedback.add' }}">
      <i class="material-icons" role="presentation">live_help</i>Prześlij uwagę
    </a>
    <a class="{{ isActive 'colophon.show' }} mdl-navigation__link" href="{{ pathFor 'colophon.show' }}">
      <i class="material-icons" role="presentation">info</i>Informacje
    </a>
  </nav>

</template>
