<template name="newFeedback"><div>
  <form class="nj-layout mdl-layout mdl-js-layout mdl-layout--fixed-header" autocomplete="off">

    <header class="nj-header nj-header--cyan mdl-layout__header">
      <div class="mdl-layout__drawer-button">
        <a href="{{ pathFor 'feed.all' }}">
          <i class="material-icons">close</i>
        </a>
      </div>
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Prześlij uwagę</span>
        <div class="mdl-layout-spacer"></div>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" disabled>
          Wyślij
        </button>
      </div>
    </header>

    <main class="nj-content nj-new-feedback mdl-layout__content">
        <section class="nj-section">
          <p>
            Coś nie działa? W aplikacji jest błąd?  Uważasz, że brakuje jakiejś 
            funkcji?
          </p>
          <p>
            Zamiast wystawiać negatywną ocenę, zgłoś zespołowi Warszawskiego 
            Ninjy uwagę! Może będziemy mogli w łatwy sposób na nią zaradzić.
          </p>
        </section>

      <div class="mdl-textfield mdl-js-textfield">
        <textarea class="mdl-textfield__input" type="text" rows= "2" id="new-feedback-text" maxlength="500" required></textarea>
        <label class="mdl-textfield__label" for="new-feedback-text">
          Wpisz uwagę
        </label>
      </div>
    </main>

  </form>
</div></template>
