<template name="index">

  {{> nav index=1 more=1 title="warszawski.ninja" }}

  <div class="wrapper">

    {{#if showFavInfo }}
      {{> favinfo }}
    {{else}}
      {{> tabs }}
    {{/if}}

  </div>

  <div id="toast-container">
    {{> fab }}
  </div>

</template>

<template name="tabs">
    <ul class="tabs">
      <li class="tab">
      <a class="waves-effect waves-light {{#if currentTab 'live' }}active{{/if}}"
        href="#feed" data-route="live">
          Zgłoszenia
        </a>
      </li>
      <li class="tab">
      <a class="waves-effect waves-light {{#if currentTab 'linie' }}active{{/if}}"
        href="#lines" data-route="linie">
          Linie
        </a>
      </li>
    </ul>

    <div id="feed" class="col s12">
      {{> feed }}
    </div>

    <div id="lines" class="col s12">
      {{> lines}}
    </div>
</template>
