<template name="landing">
  <div id="fb-root"></div>
  <div id="intro-screen">
    <div class="intro-screen-content">
      
      <ul class="collapsible" data-collapsible="expandable">
        {{#each lines 'metro'}}
          {{> line}} 
        {{/each}}
      </ul>
      
      <ul class="collapsible" data-collapsible="expandable">
        {{#each lines 'wkd'}}
          {{> line}} 
        {{/each}}
      </ul>

      <ul class="collapsible" data-collapsible="expandable">
        {{#each lines 'skm'}}
          {{> line}} 
        {{/each}}
      </ul>

      <!--<ul class="collapsible" data-collapsible="expandable">
        {{#each lines 'km'}}
          {{> line}} 
        {{/each}}
      </ul>-->
    </div>
  </div>
</template>
