<template name="landing">

  <div class="landing deep-purple white-text">
    <div class="row container">
      <div class="col">
        <img class="logo" src="/android/xhdpi.png" alt="Logo">
      </div>
      <div class="col">
        <h1>warszawski.ninja</h1>
      </div>
    </div>
    <div class="row container">
      <div class="col s12 l8">
        <img class="hl" src="/images/cover.png" alt="Screeshot"
          srcset="/images/cover-300.png 300w,
                  /images/cover.png 848w">
      </div>
      <div class="col s12 l4">
        <h4>Czym jest <em>warszawski.ninja</em>?</h4>
        <p>
          <em>warszawski.ninja</em> jest platformą wymiany informacji o bieżącym 
          stanie komunikacji miejskiej w Warszawie. Doniesienia o opóźnieniach 
          i kłopotach na trasie pojawią się w czasie rzeczywistym na telefonach 
          wszystkich użytkowników.
        </p>
        <a href="/live" class="waves-effect waves-light btn pink">
          <i class="mdi-action-exit-to-app left"></i>
          Otwórz teraz
        </a>
        <a href="#install" class="waves-effect waves-light btn install-link">
          <i class="mdi-file-cloud left"></i>
          Pobierz aplikację
        </a>
      </div>
    </div>
  </div>

  <div class="landing amber darken-1 white-text" id="install">
    <div class="row container">
      <div class="col">
        <h2>Nie daj się zaskoczyć!</h2>
      </div>
    </div>
    <div class="row container">
      <div class="col s12 l4">
        <img src="/images/browser.png">
      </div>
      <div class="col s12 l4">
        <h4>Korzystaj w przeglądarce</h4>
        <p>
          <em>warszawski.ninja</em> działa w każdej nowoczesnej przeglądarce.
          Nie musisz nic instalować.  Po prostu wejdź na <a href="/live" class="pink-text">warszawski.ninja/live</a> i bądź na bieżąco.
        </p>
          <a href="/live" class="waves-effect waves-light btn pink">
            <i class="mdi-action-exit-to-app left"></i>
            Otwórz teraz
          </a>
      </div>
      <div class="col s12 l4">
        <h4>Aplikacje mobilne</h4>
        <p>
          <em>warszawski.ninja</em> dostępny jest także jako aplikacja natywna.
        </p>
        <a href="https://play.google.com/store/apps/details?id=com.informationisart.warszawskininja">
          <img alt="Get it on Google Play"
          src="https://developer.android.com/images/brand/pl_generic_rgb_wo_60.png" />
        </a>
        <p>(Wkrótce także na iOS).</p>
      </div>
    </div>
  </div>

  <div class="landing white black-text">
    <div class="row container">
      <div class="col">
        <h2>Jak działa <em>warszawski.ninja</em>?</h2>
      </div>
    </div>
    <div class="row container">
      <div class="col s12">
        <iframe width="853" height="480" src="https://www.youtube-nocookie.com/embed/6F2N54nVbDE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="landing teal white-text" id="footer">
    <div class="row container">
      <div class="col">
        <h2>Informacje</h2>
      </div>
    </div>
    <div class="row container">
      <div class="col s12 l4">
        <h4>Uwagi? Pomysły?</h4>
        <p>
          Podziel się z nami swoimi pomysłami na nowe funkcje
          <em>warszawskiego.ninjy</em>! Napisz do nas na
          <a href="https://www.facebook.com/warszawski.ninja">facebooku</a>
          albo na
          <a href="https://www.twitter.com/warszawskininja">twitterze</a>.
        </p>
        <p>
          Kod źródłowy dostępny jest na licencji MIT na 
          <a href="https://github.com/stasm/warszawski.ninja">githubie</a>.
        </p>
      </div>
      <div class="col s12 l8">
        <h4>API</h4>
        <p>
          Bieżące reporty udostępniamy w formacie JSON:
        </p>
        <code>
          $ curl http://warszawski.ninja/api/reports/current
        </code>
      </div>
      <div class="col s12 l8">
        <h4><span id="heart">♥</span> Inspiracja</h4>
        <p>
          Konkurs
          <a href="https://konkurs.danepowarszawsku.pl/">Dane po warszawsku</a> i
          <a href="http://mbta.ninja">mbta.ninja</a>.
        </p>
      </div>
    </div>
  </div>

</template>
