<template name="landing">
  <div id="fb-root"></div>
  <div id="intro-screen">
    <div class="intro-screen-content">
      <div class="logo">
        <img class="ninja-logo" src="/images/ninja.png" />
        <h1 class="app-title">
          warszawski.ninja
        </h1>
        <h2 class="app-subtitle">
        </h2>
      </div>

      <ul class="collapsible" data-collapsible="accordion">
        <li class="line">
          <div class="collapsible-header"><i class="mdi-maps-directions-subway subway-icon blue-line"></i>Metro M1<span class="secondary-content"><i class="mdi-navigation-expand-more grey-text lighten-2"></i></span>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Metro M1 (kierunek Kabaty)'}}">Kierunek Kabaty<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Metro M1 (kierunek Młociny)'}}">Kierunek Młociny<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
        </li>
        <li class="line">
          <div class="collapsible-header"><i class="mdi-maps-directions-subway subway-icon red-line"></i>Metro M2<span class="secondary-content"><i class="mdi-navigation-expand-more grey-text lighten-2"></i></span>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Metro M2 (kierunek Dworzec Wileński)'}}">Kierunek Dworzec Wileński<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
          <div class="collapsible-body">
            <a href="{{pathFor 'line.show' line='Metro M2 (kierunek Rondo Daszyńskiego)'}}">Kierunek Rondo Daszyńskiego<span class="secondary-content"><i class="mdi-navigation-chevron-right black-text"></i></span></a>
          </div>
        </li>
      </ul>

      <div class="aux footer">
        (Odświeża się automatycznie).
      </div>
      <div class="footer">
        <div
          class="fb-share-button"
          data-href="http://warszawski.ninja"
          data-layout="button_count"></div>
      </div>
      <div class="aux">
        Coś nie działa?  Masz pomysł?  Napisz do nas: 
        <a href="https://www.facebook.com/pages/Warszawski-Ninja/385388668332002">facebook</a>,
        <a href="https://www.twitter.com/warszawskininja">twitter</a>, 
        <a href="https://github.com/stasm/warszawski.ninja">github</a>.
      </div>
      <div class="aux credits">
        Stworzone w Warszawie.  Zainspirowane przez 
        <a href="http://mbta.ninja">mbta.ninja</a>.
      </div>
    </div>
  </div>
</template>
