<template name="latest"><div>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

    <header class="nj-header nj-header__transparent mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Zgłoszenia</span>
      </div>
    </header>

    <div class="nj-drawer mdl-layout__drawer">
      {{> drawer }}
    </div>

    <main class="nj-content nj-latest mdl-layout__content">
      {{#each items}}
        {{#if isPSA this}}
          {{> ninjacard }}
        {{else}}
          {{> feedcard }}
        {{/if}}
      {{else}}
        {{> allgood }}
      {{/each}}
    </main>

  </div>
</div></template>

<template name="feedcard">
  <div class="nj-card nj-card--pointer mdl-card mdl-shadow--8dp">
    <div class="mdl-card__supporting-text">
        {{ relativeTime createdAt }}
        {{#unless isTweet this }}
          {{ numVotes this }}
        {{/unless}}
    </div>
    <p class="nj-card__text">
      <span class="nj-card__author">{{ getAuthor this }}</span>
      {{ text }}
    </p>
    <div class="mdl-card__menu">
      <button class="nj-card__dismiss mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">close</i>
      </button>
    </div>
  </div>

  {{#if lastComment}}
    <div class="nj-card nj-card__last-comment nj-card--pointer mdl-card">
      <div class="mdl-card__supporting-text">
        <span class="nj-card__last-activity">{{ relativeTime lastComment.createdAt }}</span>
        <span class="nj-card__author">{{ getAuthor lastComment }}</span>
        {{ lastComment.text }}
      </div>
    </div>
  {{/if}}
</template>

<template name="ninjacard">
  <div class="nj-card nj-card--pointer mdl-card mdl-shadow--8dp">
    <div class="mdl-card__supporting-text">
        {{ aux }}
    </div>
    <p class="nj-card__text">
      {{ text }}
    </p>
    <div class="mdl-card__actions">
      {{#if ctalabel }}
        <a href="{{ pathFor ctaroute }}" class="nj-card__action nj-card__cta mdl-button mdl-js-button mdl-js-ripple-effect">
          {{ ctalabel }}
        </a>
        <button class="nj-card__action nj-card__dismiss nj-card__action--left mdl-button mdl-js-button mdl-js-ripple-effect">
          {{ dismisslabel }}
        </button>
      {{else}}
        <button class="nj-card__action nj-card__dismiss mdl-button mdl-js-button mdl-js-ripple-effect">
          {{ dismisslabel }}
        </button>
      {{/if}}
    </div>
  </div>
</template>
