<template name="line">
  <li class="line">
  <div class="collapsible-header">
    <i class="{{icon}} icon"></i>
    {{line}}
    <span class="secondary-content">
      <i class="mdi-navigation-expand-more chevron"></i>
    </span>
  </div>

  <div class="collapsible-body">
    <ul class="collection">
      {{#each directions}}
        <li class="collection-item avatar">
          <a href="{{pathFor 'dir.show' line=../line type=../type dir=direction}}">
            {{#if Template.subscriptionsReady}}
              {{#if hasBadReports ../type ../line direction}}
                <i class="icon mdi-alert-warning amber-text"></i>
              {{/if}}
            {{else}}
              <i class="icon mdi-action-done"></i>
            {{/if}}
            <span class="title">{{direction}}</span>
          </a>
        </li>
      {{/each}}
    </ul>
  </div>

  </li>
</template>
