<template name="lines">
      
  <div class="subheader {{#unless viewingAll}}hidden{{/unless}}">
    Metro
  </div>
  <ul class="collapsible">
    {{#each lines 'metro'}}
      {{> line}} 
    {{/each}}
  </ul>
  
  <div class="subheader {{#unless viewingAll}}hidden{{/unless}}">
    Warszawska Kolej Dojazdowa
  </div>
  <ul class="collapsible">
    {{#each lines 'wkd'}}
      {{> line}} 
    {{/each}}
  </ul>

  <div class="subheader {{#unless viewingAll}}hidden{{/unless}}">
    Szybka Kolej Miejska
  </div>
  <ul class="collapsible">
    {{#each lines 'skm'}}
      {{> line}} 
    {{/each}}
  </ul>

  <div class="subheader {{#unless viewingAll}}hidden{{/unless}}">
    Koleje Mazowieckie
  </div>
  <ul class="collapsible">
    {{#each lines 'km'}}
      {{> line}} 
    {{/each}}
  </ul>

  <div class="subheader end {{#unless viewingAll}}hidden{{/unless}}"></div>

</template>
