<template name="line">
  <li class="line">
  <div class="collapsible-header">
    <i class="{{icon}} subway-icon"></i>
    {{line}}
    <span class="secondary-content">
      <i class="mdi-navigation-expand-more chevron"></i>
    </span>
  </div>

  {{#each directions}}
    <div class="collapsible-body">
      <a href="{{pathFor 'dir.show' line=../line type=../type dir=direction}}">
        <em>{{direction}}</em>
        {{#if Template.subscriptionsReady}}
          {{#each badReportCategories ../type ../line direction}}
            <span class="reports {{textcolor}} {{class}}">
              <i class="{{icon}}"></i>
            </span>
          {{else}}
            <span class="reports grey-text ok">
              <i class="mdi-action-done"></i>
            </span>
          {{/each}}
        {{/if}}
      </a>
    </div>
  {{/each}}

  </li>
</template>
