<template name="main">

  {{> nav index=0 title=line }}

  <div class="subheader">
    {{#if isFav}}
      <i class="secondary fav mdi-action-favorite"></i>
    {{else}}
      <i class="secondary fav mdi-action-favorite-outline"></i>
    {{/if}}

    <div>
      {{ dir }}
    </div>
  </div>

  {{#if noReports }}
    <div class="top-panel card-panel teal lighten-2 white-text">
      <span id="at">stan na <span id="current-time"></span></span>
      <img src="/images/white-128x128.png" class="top-panel-ninja" />
      <div class="top-panel-text">
        Wszystko OK
      </div>
    </div>
  {{else}}
    <div class="top-panel card-panel amber white-text">
      <span id="at">stan na <span id="current-time"></span></span>
      <img src="/images/white-128x128.png" class="top-panel-ninja" />
      <div class="top-panel-text">
        Zgłoszeń:  {{numReports}}
      </div>
    </div>
  {{/if}}

  <div class="line-background {{ lineColor }}"></div>

  <div class="main-content">
    {{#each stations}}
      {{> station}}
    {{/each}}
  </div>

  {{> create}}
</template>
