<template name="main">

  {{> nav index=0 more=0 title=line }}

  <div class="wrapper">

    <div class="subheader">
      {{#if isFav}}
        <i class="secondary fav pointer active mdi-action-favorite"></i>
      {{else}}
        <i class="secondary fav pointer mdi-action-favorite"></i>
      {{/if}}

      <div>
        {{ dir }}
      </div>
    </div>

    {{#if noReports }}
      <div class="top-panel card-panel teal lighten-2 white-text">
        <img src="/images/white-128x128.png" class="top-panel-ninja" />
        <div class="top-panel-text">
          Wszystko OK.
        </div>
      </div>
    {{else}}
      <div class="top-panel card-panel amber white-text">
        <img src="/images/white-128x128.png" class="top-panel-ninja" />
        <div class="top-panel-text">
          Problemy na trasie!
        </div>
      </div>
    {{/if}}

    <ul class="collection stations">
      {{#each stations}}
        {{> station }}
      {{/each}}
    </ul>

  </div>

  {{> create}}
</template>
