<template name="nav">

  <nav class="{{#if color}}{{color}}{{else}}deep-purple lighten-1{{/if}}">
    <div>

      {{#if more}}
        <ul id='menu' class='dropdown-content'>
          <li><a href="/profil">Twoja aktywność</a></li>
          <li><a href="/ustawienia">Ustawienia</a></li>
          <li><a href="/informacje">Informacje</a></li>
        </ul>

        <div class="more pointer right mdi-navigation-more-vert" data-activates="menu"></div>
      {{/if}}

      {{#if index}}
        <img class="logo pointer left primary" src="/images/white-32x32.png" />
        <div class="switch right mdi-fav">
          <label>
            <input class="show-favs" type="checkbox" {{viewingFavs}}>
            <span class="lever"></span>
          </label>
        </div>

      {{else}}
        <a class="left primary" href="/"
          onclick="window.history.back(); return false;">
          <i class="mdi-navigation-{{#if back}}{{back}}{{else}}arrow-back{{/if}}"></i>
        </a>
      {{/if}}

      <h1>{{ title }}</h1>
    </div>
  </nav>

</template>
