<template name="profile">

  {{> subnav title="Twoja aktywność" }}

  <div class="wrapper">

    <div class="section container">
      <h4>Twoje zgłoszenia</h4>

      {{#unless all}}
        <p>
          Z tego urządzenia nie wysłano jeszcze żadnych zgłoszeń.
          Oby nie było potrzeby!
        </p>
      {{else}}
        <p>
          Z tego urządzenia wysłano {{ all }} {{ plural 'reports' all }}.

          {{#if thanks }}
            <strong>{{ thanks }}</strong> {{ plural 'peopleSent' thanks }} Ci podziękowania.
          {{/if}}

          {{#if numVotes this }}
            Łącznie Twoje zgłoszenia zebrały {{ numVotes upvotes downvotes }}.
          {{/if}}

        </p>
      {{/unless}}

    </div>

    <div class="section container achievements">
      <h4>Osiągnięcia</h4>

      {{#unless achievements}}
        <p>
          Tutaj pojawią się Twoje osiągnięcia, np. za zgłoszenia potwierdzone
          przez innych użytkowników.  Powodzenia!
        </p>
      {{else}}
        <ul class="collapsible">
          {{#each achievements}}
          <li class="collapsible-item pointer">
            <div class="collapsible-header">
              <i class="icon {{icon}}"></i>
              <span class="strong">{{name}}</span>
            </div>
            <div class="collapsible-body">
              <p>{{desc}}</p>
            </div>
          </li>
          {{/each}}
        </ul>
      {{/unless}}
    </div>

  </div>

</template>
