<template name="profile">

  {{> nav index=0 title="Twój profil" more=1 color="teal" }}

  <div class="wrapper container">

    <div class="section">
      <h4>Twoje zgłoszenia</h4>

      {{#unless Template.subscriptionsReady}}

        <p>Sprawdzam…</p>

      {{else}}

        {{#unless all}}
          <p>
            Z tego urządzenia nie wysłano jeszcze żadnych zgłoszeń.
            Oby nie było potrzeby!
          </p>
        {{else}}
          <p>
            Z tego urządzenia wysłano {{ all }} {{ plural 'reports' all }}.

            {{#if thanks }}
              <strong>{{ thanks }}</strong> {{ plural 'peopleSent' thanks }} Ci podziękowania.
            {{/if}}

            Łącznie Twoje zgłoszenia zebrały {{ numVotes confirms clears }}.
          </p>
        {{/unless}}

      {{/unless}}

    </div>

    <div class="section">
      <h4>Ustawienia</h4>

      {{#if Template.subscriptionsReady}}

        <div>
          <div class="switch right">
            <label>
              <input data-setting="push-enabled" type="checkbox"
                {{isChecked 'push-enabled'}}>
              <span class="lever"></span>
            </label>
          </div>
          <p>
            Powiadomienia <em>push</em>
          </p>
        </div>

        <div class="{{#if isDisabled 'push-rushhours'}}disabled{{/if}}">
          <div class="switch right">
            <label>
              <input data-setting="push-rushhours" type="checkbox"
                {{isChecked 'push-rushhours'}}
                {{isDisabled 'push-rushhours'}}>
              <span class="lever"></span>
            </label>
          </div>
          <p>
            Tylko w godzinach szczytu
          </p>
        </div>

      {{/if}}

    </div>


    <div class="section">
      <h4>Nie śledzimy Cię</h4>
      <p>
        Ninja dba o Twoją prywatność i nie przechowuje żadnych informacji,
        które mogłyby posłużyć w zidentyfikowaniu Cię w Internecie.
      </p>
      <p>
        Rozpoznajemy jedynie urządzenie, z którego wysyłasz zgłoszenia.
        Wykorzystujemy do tego losowy identyfikator, który zapisujemy w pamięci
        urządzenia.
      </p>
      <p>
        Jeśli odinstalujesz aplikację albo wyczyścisz pamięć przeglądarki, 
        identyfikator zostanie usunięty i historia Twoich zgłoszeń przepadnie
        na zawsze.
      </p>
        
    </div>

  </div>

</template>
