<template name="fab">

  <div class="fab collapsed no-anim">
    <a class="btn-floating btn-large waves-effect waves-light amber">
      <i class="mdi-content-add"></i>
    </a>
    <ul>
      {{#each reportTypes}}
        <li class="quick-type-{{icon}}">
          <span class="btn-floating amber right">
            <i class="{{icon}}"></i>
          </span>
          <a class="quick-text pointer">
            {{ name }}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>

</template>
