<template name="report">
  <div id="report-{{_id}}"
    class="card {{#if hasActions _id}}hilite{{/if}} {{#if isAuthor _id}}active{{/if}}">
    <div class="card-content">

      <span class="secondary">
        {{ livestamp createdAt }}
      </span>
      <span class="title">{{name}}</span>

      <p class="loc">{{ line }} na stacji {{ location }}.</p>
      <p class="loc">Kierunek {{ dir }}.</p>

      <p class="aux">
        <span class="mdi-action-thumb-up"></span>
        <span class="count">{{thanks}}</span>
        <span class="mdi-social-person-add"></span>
        <span class="count">{{votes}}</span>
        <span class="mdi-content-block"></span>
        <span class="count">{{clears}}</span>
      </p>

    </div>

    {{#if canRemove _id createdAt}}
      <div class="card-action">
        <a class="waves-effect waves-light btn-flat black-text remove">
          <i class="mdi-action-delete left"></i>Usuń</a>
      </div>
    {{/if}}

    {{#if canThank _id }}
      <div class="card-action">
        <a class="waves-effect waves-light btn-flat teal-text thank">
          <i class="mdi-action-thumb-up left"></i>Podziękuj</a>
      </div>
    {{/if}}

    {{#if canUpvote _id}}
      <div class="card-action">
        <a class="waves-effect waves-light btn-flat teal-text upvote">
          <i class="mdi-social-person-add left"></i>Potwierdź</a>
        <a class="waves-effect waves-light btn-flat black-text downvote">
          <i class="mdi-content-block left"></i>Odwołaj</a>
      </div>
    {{/if}}

  </div>
</template>
