<template name="settings">

  {{> subnav title="Ustawienia" }}

  <div class="wrapper settings">

    <div class="section container">
      <h4>Powiadomienia <em>push</em></h4>

      <div>
        <div class="switch right">
          <label>
            <input data-setting="push-report-thanks-enabled" type="checkbox"
              {{isChecked 'push-report-thanks-enabled'}}>
            <span class="lever"></span>
          </label>
        </div>
        <p>
          Podziękowania<br>
          <small>Podziękowania za Twoje zgłoszenia.</small>
        </p>
      </div>

      <div>
        <div class="switch right">
          <label>
            <input data-setting="push-report-new-enabled" type="checkbox"
              {{isChecked 'push-report-new-enabled'}}>
            <span class="lever"></span>
          </label>
        </div>
        <p>
          Nowe zgłoszenia<br>
          <small>Utrudnienia na Twoich obserwowanych trasach.</small>
        </p>
      </div>

      <div class="{{#if isDisabled}}disabled{{/if}}">
        <div class="switch right">
          <label>
            <input data-setting="push-report-new-anytime" type="checkbox"
              {{isChecked 'push-report-new-anytime'}} {{isDisabled}}>
            <span class="lever"></span>
          </label>
        </div>
        <p>
          Wysyłaj o dowolnej porze<br>
          <small>Powiadomienia także poza godzinami szczytu.</small>
        </p>
      </div>
    </div>

    <div class="section container">
      <h4>Obserwowane trasy</h4>

      <div class="row">
        <div class="input-field col s12">
          <input id="tags" type="text" data-role="materialtags"
            placeholder="Wpisz nr linii lub kierunek">
        </div>
      </div>
    </div>

  </div>

</template>
