<template name="notFound">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="nj-header nj-header__transparent mdl-layout__header">
      <div class="mdl-layout__drawer-button">
        <a href="{{ pathFor 'feed.all' }}">
          <i class="material-icons">arrow_back</i>
        </a>
      </div>
    </header>
    <main class="nj-content nj-notFound mdl-layout__content">
      {{> sitting }}
    </main>
  </div>
</template>

<template name="loading">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <main class="nj-content nj-loading mdl-layout__content">
      {{> jumping }}
    </main>
  </div>
</template>
