<template name="settings"><div class="nj-transition">
  <div class="nj-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="nj-header nj-header--magenta mdl-layout__header">
      <div class="mdl-layout__drawer-button">
        <a href="{{ pathFor 'feed.all' }}">
          <i class="material-icons">arrow_back</i>
        </a>
      </div>
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Ustawienia</span>
      </div>
    </header>

    <main class="nj-content nj-settings mdl-layout__content">
      <section class="nj-section">
        <h4 class="nj-settings__title">Powiadomienia <em>push</em></h4>

        <label for="push-obs-new-reports" class="nj-settings__toggle mdl-checkbox mdl-js-checkbox {{#if isChecked 'push-obs-new-reports'}}is-checked{{/if}}">
          <span class="mdl-checkbox__label">Obserwowane linie i przystanki</span>
          <input type="checkbox" id="push-obs-new-reports" class="mdl-checkbox__input"
            {{isChecked 'push-obs-new-reports'}}>
        </label>

        <label for="push-thanks" class="nj-settings__toggle mdl-checkbox mdl-js-checkbox {{#if isChecked 'push-thanks'}}is-checked{{/if}}">
          <span class="mdl-checkbox__label">Podziękowania</span>
          <input type="checkbox" id="push-thanks" class="mdl-checkbox__input"
            {{isChecked 'push-thanks'}}>
        </label>

        <label for="push-all-anytime" class="nj-settings__toggle mdl-checkbox mdl-js-checkbox {{#if isChecked 'push-all-anytime'}}is-checked{{/if}}">
          <span class="mdl-checkbox__label">Wysyłaj o dowolnej porze</span>
          <small class="nj-settings__hint">
            Domyślnie powiadomienia wysyłamy tylko
            w&nbsp;godzinach szczytu, tj. 7-9 i 14-18
          </small>
          <input type="checkbox" id="push-all-anytime" class="mdl-checkbox__input"
            {{isChecked 'push-all-anytime'}}>
        </label>
      </section>

      <section class="nj-section">
        <h4 class="nj-settings__title">Obserwowane linie i przystanki</h4>
        <div class="nj-tagsinput nj-tagsinput--trigger">
          <input class="nj-tagsinput__raw" type="text" id="observed-tags-view" placeholder="Wpisz przystanek lub numer linii">
        </div>
      </section>
    </main>

    {{> settingsObserved }}

  </div>
</div></template>

<template name="settingsObserved"><div class="nj-modal">
  <div class="nj-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="nj-header nj-header--magenta mdl-layout__header">
      <div class="mdl-layout__drawer-button">
        <a class="nj-settings-obs__back" href="{{ pathFor 'settings.show' }}">
          <i class="material-icons">close</i>
        </a>
      </div>
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Obserwowane</span>
        <div class="mdl-layout-spacer"></div>
        <button class="nj-settings-obs__done mdl-button mdl-js-button mdl-js-ripple-effect">
          Gotowe
        </button>
      </div>
    </header>

    <main class="nj-content nj-settings-obs mdl-layout__content">
      <section class="nj-section">
        <div class="nj-tagsinput">
          <input class="nj-tagsinput__raw" type="text" id="observed-tags-edit" placeholder="Wpisz przystanek lub numer linii">
        </div>
      </section>
    </main>

  </div>
</div></template>
