<template name="colophon"><div class="nj-transition">
  <div class="nj-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="nj-header nj-header--cyan mdl-layout__header">
      <div class="mdl-layout__drawer-button">
        <a href="{{ pathFor 'feed.all' }}">
          <i class="material-icons">arrow_back</i>
        </a>
      </div>
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Informacje</span>
      </div>
    </header>

    <main class="nj-content nj-colophon mdl-layout__content">
      <section class="nj-section">
        <h4>Nie śledzimy Cię</h4>
        <p>
          Ninja dba o Twoją prywatność i nie przechowuje żadnych informacji,
          które mogłyby posłużyć w zidentyfikowaniu Cię w Internecie.
        </p>
        <p>
          Rozpoznajemy jedynie urządzenie, z którego wysyłasz zgłoszenia.
          Wykorzystujemy do tego losowy identyfikator, który zapisujemy w pamięci
          urządzenia.
        </p>
        <p>
          Jeśli odinstalujesz aplikację albo wyczyścisz pamięć przeglądarki, 
          identyfikator zostanie usunięty i historia Twoich zgłoszeń przepadnie
          na zawsze.
        </p>
      </section>

      <section class="nj-section">
        <h4>Regulamin</h4>
        <p>
          Zapoznaj się z <a href="{{ pathFor 'eula.show' }}">regulaminem
          aplikacji</a>, aby dowiedzieć się więcej o zasadach korzystania 
          i naszej polityce prywatności.
        </p>
      </section>

      <section class="nj-section">
        <h4>Wersja {{ ver }}</h4>
        <p>
          Bardzo nam miło, że korzystasz z Warszawskiego Ninjy.  Zależy nam na 
          Twojej opinii i pragniemy, żeby używanie aplikacji było przyjemnością.

          <a href="{{ pathFor 'feedback.add' }}">Prześlij nam uwagi</a>
          dotyczące zarówno funkcjonalności, jak i interfejsu graficznego.
        </p>
      </section>

      <section class="nj-section">
        <h4>Inspiracje</h4>
        <p>
          Konkurs
          <a href="https://konkurs.danepowarszawsku.pl/" target="_system">Dane po warszawsku</a> i
          <a href="http://mbta.ninja" target="_system">mbta.ninja</a>.
        </p>
        <p>
          Korzystamy z grafik <a href="http://stamen.com/" target="_system">Stamen Design</a>
          udostępnionych na licencji <a href="http://creativecommons.org/licenses/by/3.0/" target="_system">Creative Commons BY-3.0</a>,
          które dostosowaliśmy do wyglądu aplikacji.

          Dane kartograficzne pochodzą z <a href="http://openstreetmap.org">OpenStreetMap</a>
          i są dostępne na licencji <a href="http://www.openstreetmap.org/copyright">ODbL</a>.
        </p>
      </section>

      <section class="nj-section nj-game__row">

        <canvas id="canvas" class="nj-game__row {{ wonClass }}" width="280" height="280"></canvas>

        <div class="nj-game__row">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-color="0"></button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-color="1"></button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-color="2"></button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-color="3"></button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-color="4"></button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-color="5"></button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-color="6"></button>
        </div>

        <div class="nj-game__row">
          <p>Ilość ruchów: {{ movesCount }}</p>
          <p>Ilość rozegranych gier: {{ gamesCount }}</p>
          <p>Najlepszy wynik: {{ bestScore }}</p>
        </div>
      </section>
    </main>

  </div>
</div></template>
